{
  "startup_duration": 30,
  "result_file": "/tmp/trace.json",
  "trace_config": {
	"included_categories": ["disabled-by-default-memory-infra"],
    "memory_dump_config": {
      "triggers": [
        { "mode": "light", "periodic_interval_ms": 500 },
        { "mode": "detailed", "periodic_interval_ms": 10000 }
      ]
    }
  }
}