
/* -------------------------------------------------------------------  */

.virtualremotediv
{
	position: absolute;

	left: 1430px;
	top: 810px;
	width: 440px;
	height: 220px;
	background-image:url("../img/Vkey_bg_4.png");
	display: inline-table;
}





/* ----------------------------------------- 14、 播放键：play、  、pause    显示 -----------table显示与否设置-------------------*/

.t14_play
{
	width:420px;
    height:90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    border-collapse:collapse;/* 这样写是去除表格自带的间距 */
    border-spacing:0;/* 这样写是去除表格自带的间距 */

    display: inline-table;
}

.t14_play td
{
	padding:0px;/* 这样写是去除表格自带的间距 */
	text-align: center;
	width: 140px;
	height: 90px;
}

/* ----------------------------------------- 9、 播放键：快退、  、快进             显示 -----------table显示与否设置-------------------*/

.t09_play
{
	width:420px;
    height:90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;

    border-collapse:collapse;/* 这样写是去除表格自带的间距 */
    border-spacing:0;/* 这样写是去除表格自带的间距 */

    display: inline-table;
}

.t09_play td
{
	padding:0px;/* 这样写是去除表格自带的间距 */
	text-align: center;
	width: 140px;
	height: 90px;
}






